body {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0f2b35;
    color: #cec7bf;
}

.board-container {
    background-color: #3d737f;
    margin: 20px auto; 
    border-radius: 5px;
    box-shadow: 0px 1px 20px 2px #3d737f;
}

.clicked {
    box-shadow: inset -1px -1px 12px 5px #253a44;
}

.cell {
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    border: rgba(191, 199, 206, 0.548) 2px solid;
    border-radius: 2px;
    cursor: pointer;
    /* box-shadow: inset -2px -2px 8px 0px #07161b; */
}

.cell:hover {
    transition: 0.2s;
    box-shadow: inset -2px -2px 12px 3px #8c9fa5;
    border: #3d737f 2px solid;
}

.game-over-modal {
    display: none;
    margin: 50px auto;
    height: 120px;
    width: 300px;
    border: rgba(191, 199, 206, 0.548) 2px solid;
    box-shadow: 0px 1px 20px 2px #3d737f;
    background-color: #07161b;
    border-radius: 5px;
    font-size: 32px;
}

.winner-modal {
    display: none;
    margin: 50px auto;
    height: 120px;
    width: 300px;
    border: rgba(191, 199, 206, 0.548) 2px solid;
    box-shadow: 0px 1px 20px 2px #3d737f;
    background-color: #07161b;
    border-radius: 5px;
    font-size: 32px;
}

.play-againbtn {
    margin: 15px 5px;
    height: 40px;
    min-width: 120px;
    border-radius: 15px;
    background-color:  #2a6674;
    border: #cec7bf 3px solid;
    color: #cec7bf;
    cursor: pointer;
    font-size: 16px;
}


.play-againbtn:hover {
    transition: 0.3s;
    background-color: #cec7bf;
    color: #07161b;
    border: #3d737f 3px solid;
    height: 44px;
    min-width: 132px;
}

.hint {
    width: 35px;
    height: 30px;
    margin-inline-start: 15px;
    border-radius: 50%;
    background-color: #3d737f;
    border: rgba(191, 199, 206, 0.548) 2px solid;
    box-shadow: 0px 1px 20px 2px #3d737f;
}

.hint:hover {
    transition: 0.3s;
    background-color: #cec7bf;
    color: #07161b;
    border: #3d737f 2px solid;
    cursor: pointer;

}

.live {
    width: 35px;
    height: 30px;
    margin-inline-start: 15px;
    border-radius: 50%;
    background-color: #3d737f;
    border: rgba(191, 199, 206, 0.548) 2px solid;
    box-shadow: 0px 1px 20px 2px #3d737f;
}


.lives-container {
    display:contents;
}

.title {
    font-size: 20px;
}

.hints-container {
    display: inline-block;
    margin-top: 40px;
}

.reveal {
    transition: 0.5s;
    background-color: rgb(147, 206, 248);
}

.unreveal {
    transition: 0.5s;
    background-color: #3d737f;
}

.smiley {
    border-radius: 50%;
    margin-top: 18px;
    font-size: 30px;
    cursor: pointer;
    background-color: #07161b00;
    border: rgba(191, 199, 206, 0.548) 2px solid;
    box-shadow: 0px 1px 20px 2px #3d737f;
}

.smiley:hover {
    transition: 0.8s;
    background-color: #3d737f;
    color: #07161b;
    border: #3d737f 2px solid;
    cursor: pointer;
}

p {
    margin-inline: 75px;
    font-size: 24px;
}

footer {
    font-size: 24px;
    margin-top: 15%;
}

.levelbtn {
    margin: 0px 15px;
    height: 50px;
    min-width: 130px;
    border-radius: 15px;
    background-color:  #2a6674;
    border: #cec7bf 2px solid;
    color: #cec7bf;
    cursor: pointer;
    font-size: 1em;
}

.levelbtn:hover {
    transition: 0.5s;
    background-color: #cec7bf;
    color: #07161b;
    border: #3d737f 2px solid;
    height: 60px;
    min-width: 143px;
}